<h1>Seja bem vindo ao curso Angular</h1>

<h4 class="text-danger">{{ anuncio }}</h4>

<app-card-produto>
  [foto]="foto"
  [nomeProduto]="nomeProduto"
  [promocao]="promocao"
  [idProduto]="idProduto"
  [dataValidade]="dataValidade"
  [precoProduto]="precoProduto"
</app-card-produto>


<div class="row">
  <div class="col">
    <img src="../../../assets/img/logo_horacio.png" class="img-fluid">
  </div>
  <div class="col">
    <img src="../../../assets/img/crud.png" class="img-fluid">
  </div>
</div>
